.groupItems{
	display: block;
	overflow-y: scroll;
	height:90%;
}

.addbutton {
    position: absolute;
    bottom: 5px;
    left: 15px;
    text-align: center;
	background-color:#61c9e8;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #6dcbdb;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.addbutton:hover {
	background-color:#5fbdd9;
}

