.container{
    background-color: #FFFFFF;
    padding: 0px 12px 12px 12px;
    margin: 10px;
    box-shadow: 1px 1px 2px grey;
    border-radius: 3px;
    position: relative;
}
.avatar {
    float:left;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin-top: 10px;
    margin-right: 10px;
    object-fit: cover;
    object-position: center; 
    cursor: pointer;
}

object.adminPost {
    position:absolute;
    top:0;
    right:0;
    width: 50px;
    height: 50px;
}

.post {
    white-space: pre-wrap;
    font-size: 14px;
    word-wrap: break-word;
}

a#name {
    color: #365899;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 1px;
    padding-top: 5px;
    display: inline-block;
}

a#name:hover {
    color: #365899;
    font-weight: bold;
    font-size: 14px;
    text-decoration: underline;

}

a#time {
    color: #90949c;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 20px;
    display: inline-block;
    text-decoration: none;
}

a#time:hover {
    text-decoration: underline;
}
div.hashtag {
    color: white;
    font-style: italic;
    background-color: #0389ff;
    border-radius: 6px;
    padding: 5px 10px 5px 10px;
    margin: 5px 5px 0px 0px;
    display: inline-block;
}
