.container {   
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    position: relative;
}
.container:hover {
    background-color: #EEE;
}
.container:hover > .removeButton {
    display: initial;
}

.removeButton {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
}

.cover {
    float: left;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: 2px solid skyblue;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center; 
}

.groupName {
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;;
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;
}

.sorting {
    background-color: #E8EAF6;
}
