.container {   
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    position: relative;
}
.container:hover {
    background-color: #CCC;
}

.cover {
    float: left;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: 2px solid skyblue;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center; 
}

.groupName {
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;;
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;
}

.removeButton {
    position: absolute;
    top: 5px;
    right: 5px;
}

/* .items:hover{
    border: 2px solid #DDE0E2;
    cursor: pointer;
}
.rb{
    background-color: #21759B;
    background-image: linear-gradient(to bottom, #2A95C5, #21759B);
    box-shadow: 0 1px 0 rgba(120, 200, 230, 0.5) inset;
    border-color: #21759B #21759B #1E6A8D;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    font-size: 15px;
    position: relative;
    display: none;

    line-height: 12px;
    width: 18px;
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    top:0;
    right:0;
}
.cover:hover +.rb{
    display: block;
}
.rb:hover{
    display: block;
    background-color: #278AB7;
    background-image: linear-gradient(to bottom,#2E9FD2,#21759B);
    border-color: #1B607F;
    box-shadow: 0 1px 0 rgba(120,200,230,0.6) inset;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3)
    
} */